/* ********************首页******************** */
/* **********头部********** */
.top{
	width:1200px;
	height:96px;
	overflow:hidden;
}
.top img{
	width:133px;
	height:36px;
	float:left;
	margin-top:30px;
	display:block;
}
.top .top_right{
	float:right;
	_width: 200px;
}
.top .top_right p{
	height:24px;
	line-height:24px;
	font-size:18px;
	color:#1e3c7f;
}
.top .top_right .trightp{
	margin-top:28px;
	font-size:14px;
}
.top .top_right .trightp label{
	margin:0px 8px;
}
.top .top_right .trightp .dter{
	margin-left:0px;
}
/* **********头部-结束********** */


/* **********导航********** */
.nav_bgcolor{
	width:100%;
	background-color:#182742;
}
.nav_bgcolor .nav{
	width:1200px;
}
.nav_bgcolor .nav:after{
	content:"clear";
	clear:both;
	height:0px;
	display:block;
	overflow:hidden;
}
.nav_bgcolor .nav ul{
	float:left;
	max-width:1010px;
}
.nav_bgcolor .nav input{
	float:left;
	width:150px;
	height:26px;
	line-height:26px\9;
	padding-left:38px;
	margin-top:10px;
	border-radius:20px;
	border:1px solid #1e3c7f;
	background-color:#182742;
	background:url(../images/search.png) no-repeat 12px 6px;
	background-size:16px 16px;
	outline:none;
	color:#ffffff;
}
.nav_bgcolor .nav ul li{
	position:relative;
	float:left;
	word-wrap:break-word;
	white-space:nowrap;
}
.nav_bgcolor .nav ul .thisli{
	background-color:#1d2d4e;
}
.nav_bgcolor .nav ul .nav_end{
	padding-left:10px;
	background:url(../images/nav_end.png) no-repeat 16px 16px;
	background-size:14px 16px;
}
.nav_bgcolor .nav ul li a{
	width: 110px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	text-decoration:none;
	display:block;
	color:#ffffff;
}
.nav_bgcolor .nav ul li div{
	display: none;
	position:absolute;
	left:0px;
	top:48px;
	z-index:10;
	width:inherit;
	background-color:#182742;
	opacity:.7;
}
.nav_bgcolor .nav ul li div a{
	padding: 0px;
	width:110px;
	height:48px;
	line-height:48px;
	text-align:center;
	display:block;
	text-decoration:none;
}
/* **********导航-结束********** */


/* **********底部********** */
.foot_bgcolor{
	width:100%;
	background-color:#253862;
	margin-top: 40px;
}
.foot_bgcolor .foot{
	width:1200px;
	padding:20px 0px;
}
.foot_bgcolor .foot:after{
	content:"clear";
	clear:both;
	height:0px;
	display:block;
	overflow:hidden;
}
.foot_bgcolor .foot ul{
	width:20%;
	float:left;
	overflow:hidden;
}
.foot_bgcolor .foot div{
	width:20%;
	float:left;
	color:#ffffff;
	overflow:hidden;
}
.foot_bgcolor .foot .foot3{
	width:40%;
}
.foot_bgcolor .foot .foot4{
	text-align:center;
}
.foot_bgcolor .foot .foot4 img{
	width:110px;
	height:110px;
}
.foot_bgcolor .foot ul li{
	height:30px;
	line-height:30px;
	text-align:center;
}
.foot_bgcolor .foot ul li a{
	color:#ffffff;
}
.foot_bgcolor .foot div p{
	padding-left:15%;
	height:30px;
	line-height:30px;
}
.flast{
	height:30px;
	line-height:30px;
	text-align:center;
	color:#ffffff;
	background-color:#192741;
}
/* **********底部-结束********** */
/* ********************首页-结束******************** */